openapi: '3.0.3'
info:
  title: AI Studio Public API
  version: '6.3.3'
servers:
  - url: https://sandbox.cloud.quickplay.com/genai-api
paths:
  /v3/upload:
    post:
      summary: Add or update a media asset group with optional metadata. master and proxy each wrap a media_assets array, so a single upload can register multiple master and proxy assets together (e.g. multi-track or multi-rendition deliveries). email is mandatory (identifies the requesting user for audit / notification).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - master
                - email
              properties:
                master:
                  $ref: '#/components/schemas/MediaAssetV3Group'
                proxy:
                  $ref: '#/components/schemas/ProxyMediaAssetV3Group'
                priority:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  default: 0
                  description: Processing priority. 0 is lowest priority, 1000 is highest priority. Jobs are processed based on this priority and the request time (earlier requests win within the same priority).
                email:
                  type: string
                  format: email
                  description: Email address of the requesting user.
                ai_flags:
                  description: |
                    AI processing flags to apply to the uploaded assets. When provided, the request is processed asynchronously and the API returns HTTP 202 Accepted with a job_id that can be polled via /v2/status.

                    Any non-empty subset of the supported flags is accepted (values must be unique).
                  type: array
                  minItems: 1
                  maxItems: 5
                  uniqueItems: true
                  items:
                    type: string
                    enum:
                      - GENERATE_METADATA
                      - DETECT_SCENES
                      - REFRAME_9_16
                      - REFRAME_1_1
                      - REFRAME_3_4
                metadata:
                  type: array
                  items:
                    type: object
                    properties:
                      language:
                        type: string
                        example: en_CA
                      title:
                        type: string
                      description:
                        type: string
            examples:
              master_only:
                summary: Single master, no proxy
                value:
                  master:
                    ext_id: asset-group-003
                    media_assets:
                      - ext_asset_id: master-video-003
                        uri: s3://bucket/media/video.mxf
                        duration: 120.5
                        size: 7516192768
                        media_profile:
                          - group_type: video
                            track_info:
                              codec: prores422
                              bitRate: 50000000
                              frameRate:
                                numerator: 30000
                                denominator: 1001
                              frameSize:
                                width: 1920
                                height: 1080
                              offset_sec: 0
                  priority: 500
                  email: producer@example.com
                  metadata:
                    - language: en-US
                      title: Sample Video
                      description: A master-only upload
              multi_master_with_proxies:
                summary: Multiple master assets with corresponding proxies
                value:
                  master:
                    ext_id: asset-group-001
                    media_assets:
                      - ext_asset_id: master-video-001
                        uri: s3://bucket/media/video.mxf
                        duration: 120.5
                        size: 7516192768
                        media_profile:
                          - group_type: video
                            track_info:
                              codec: prores422
                              bitRate: 50000000
                              frameRate:
                                numerator: 30000
                                denominator: 1001
                              frameSize:
                                width: 1920
                                height: 1080
                              offset_sec: 0
                      - ext_asset_id: master-audio-001
                        uri: s3://bucket/media/audio.wav
                        duration: 120.5
                        size: 34603008
                        media_profile:
                          - group_type: audio
                            audio_kind: PRM
                            audio_group: ST
                            language: en-US
                            track_info:
                              codec: pcm
                              bitRate: 2304000
                              sampleRate: 48000
                              offset_sec: 0
                            channel_layouts:
                              - channel_locator: "1"
                                audio_channel: L
                              - channel_locator: "2"
                                audio_channel: R
                      - ext_asset_id: master-cc-001
                        uri: s3://bucket/media/captions.scc
                        duration: 120.5
                        size: 1362
                        media_profile:
                          - group_type: cc
                            format: SCC
                            language: en
                            offset_sec: -1.18
                  proxy:
                    ext_id: asset-group-001-proxy
                    media_assets:
                      - ext_asset_id: proxy-video-001
                        uri: s3://bucket/media/video_proxy.mp4
                        duration: 120.5
                        size: 75161927
                        media_profile:
                          - group_type: video
                            track_info:
                              codec: avc
                              bitRate: 5000000
                              frameRate:
                                numerator: 30000
                                denominator: 1001
                              frameSize:
                                width: 1280
                                height: 720
                              offset_sec: 0
                  priority: 500
                  email: producer@example.com
                  metadata:
                    - language: en-US
                      title: Sample Video
                      description: A sample multi-asset upload
              with_ai_flags:
                summary: Async multi-asset upload with AI processing flags (returns 202)
                value:
                  master:
                    ext_id: asset-group-002
                    media_assets:
                      - ext_asset_id: master-video-002
                        uri: s3://bucket/media/video.mxf
                        duration: 120.5
                        size: 7516192768
                        media_profile:
                          - group_type: video
                            track_info:
                              codec: prores422
                              bitRate: 50000000
                              frameRate:
                                numerator: 30000
                                denominator: 1001
                              frameSize:
                                width: 1920
                                height: 1080
                              offset_sec: 0
                  proxy:
                    ext_id: asset-group-002-proxy
                    media_assets:
                      - ext_asset_id: proxy-video-002
                        uri: s3://bucket/media/video_proxy.mp4
                        duration: 120.5
                        size: 75161927
                        media_profile:
                          - group_type: video
                            track_info:
                              codec: avc
                              bitRate: 5000000
                              frameRate:
                                numerator: 30000
                                denominator: 1001
                              frameSize:
                                width: 1280
                                height: 720
                              offset_sec: 0
                  email: producer@example.com
                  ai_flags:
                    - GENERATE_METADATA
                    - DETECT_SCENES
                  metadata:
                    - language: en-US
                      title: Sample Video
                      description: A sample multi-asset upload
      responses:
        '200':
          description: Asset group already exists, returning existing asset information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '201':
          description: Asset group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '202':
          description: Asynchronous upload accepted. Returned when ai_flags is provided. Poll /v2/status with the returned job_id to track progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: AI Studio Job ID. Use this to poll /v2/status.
                    example: 1015825c-7c90-4042-8513-24585fb9c235
                  status:
                    type: string
                    enum:
                      - Queued
                    example: Queued
        '400':
          description: Invalid or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
  /v3/event:
    post:
      summary: Register a live or scheduled event for ingestion and AI processing. The event is identified by an HLS source URL plus a single schedule (start/end). Each POST registers one event occurrence — recurrence is not supported. output_format selects between VOD output (HLS input only, default) and Live output (HLS TS or SRT input, reframed live per REFRAME_* ai_flags). Processing is asynchronous; the API returns HTTP 202 Accepted with a job_id that can be polled via /v2/status. email is mandatory (identifies the requesting user for audit / notification). Passthrough contract — every request attribute is passed through verbatim into the clipping worker task (data.job) and echoed on every worker notification, including email and priority.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ext_job_id
                - media_assets
                - schedule
                - email
              properties:
                ext_job_id:
                  type: string
                  description: External job identifier for this event registration.
                output_format:
                  type: string
                  enum:
                    - VOD
                    - Live
                  default: VOD
                  description: |
                    Output format for the event.

                    - `VOD` (default): the output is a video-on-demand asset. Input `media_assets.uri` must be an **HLS** URL (`.m3u8`).
                    - `Live`: the output is a **live stream**, reframed according to the `REFRAME_*` flags supplied in `ai_flags`. Input `media_assets.uri` may be an **HLS TS** URL (`.m3u8`, MPEG-TS segments) or an **SRT** URL (`srt://…`).
                media_assets:
                  $ref: '#/components/schemas/EventMediaAsset'
                schedule:
                  $ref: '#/components/schemas/EventSchedule'
                metadata:
                  type: array
                  description: Localized descriptive metadata for the event media asset, mapped to the asset via ext_asset_id. Moved from schedule.metadata in v6.3.4.
                  items:
                    $ref: '#/components/schemas/MetadataEntry'
                priority:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  default: 0
                  description: Processing priority. 0 is lowest priority, 1000 is highest priority. Jobs are processed based on this priority and the request time (earlier requests win within the same priority).
                email:
                  type: string
                  format: email
                  description: Email address of the requesting user.
                ai_flags:
                  description: |
                    AI processing flags to apply to the event.

                    Any non-empty subset of the supported flags is accepted (values must be unique).
                  type: array
                  minItems: 1
                  maxItems: 5
                  uniqueItems: true
                  items:
                    type: string
                    enum:
                      - GENERATE_METADATA
                      - DETECT_SCENES
                      - REFRAME_9_16
                      - REFRAME_1_1
                      - REFRAME_3_4
            examples:
              basic:
                summary: Single live event
                value:
                  ext_job_id: event-group-001
                  media_assets:
                    ext_asset_id: live-event-001
                    uri: https://example.com/live/event-001/master.m3u8
                  schedule:
                    ext_event_id: event-001-occurrence
                    start:
                      date_time: "2026-06-15T19:00:00Z"
                    end:
                      date_time: "2026-06-15T21:00:00Z"
                  metadata:
                    - ext_asset_id: live-event-001
                      language: en-US
                      title: Live Sports Event
                      category: news
                      sub-category: documentary
                      tags: ["#live", "#sports"]
                  priority: 500
                  email: producer@example.com
              with_ai_flags:
                summary: Single live event with AI processing flags (VOD output)
                value:
                  ext_job_id: event-group-002
                  output_format: VOD
                  media_assets:
                    ext_asset_id: live-event-002
                    uri: https://example.com/live/event-002/master.m3u8
                  schedule:
                    ext_event_id: event-002-occurrence
                    start:
                      date_time: "2026-06-15T19:00:00Z"
                    end:
                      date_time: "2026-06-15T21:00:00Z"
                  metadata:
                    - ext_asset_id: live-event-002
                      language: en-US
                      title: Weekly Show
                      category: news
                  priority: 500
                  email: producer@example.com
                  ai_flags:
                    - GENERATE_METADATA
                    - DETECT_SCENES
              live_output_srt:
                summary: Live output with reframing (SRT input)
                value:
                  ext_job_id: event-group-003
                  output_format: Live
                  media_assets:
                    ext_asset_id: live-event-003
                    uri: srt://ingest.example.com:9000?streamid=event-003
                  schedule:
                    ext_event_id: event-003-occurrence
                    start:
                      date_time: "2026-06-15T19:00:00Z"
                    end:
                      date_time: "2026-06-15T21:00:00Z"
                  metadata:
                    - ext_asset_id: live-event-003
                      language: en-US
                      title: Live Reframed Broadcast
                      category: news
                  priority: 500
                  email: producer@example.com
                  ai_flags:
                    - REFRAME_9_16
                    - REFRAME_1_1
              live_output_hls_ts:
                summary: Live output with reframing (HLS TS input)
                value:
                  ext_job_id: event-group-004
                  output_format: Live
                  media_assets:
                    ext_asset_id: live-event-004
                    uri: https://example.com/live/event-004/master.m3u8
                  schedule:
                    ext_event_id: event-004-occurrence
                    start:
                      date_time: "2026-06-15T19:00:00Z"
                    end:
                      date_time: "2026-06-15T21:00:00Z"
                  priority: 500
                  email: producer@example.com
                  ai_flags:
                    - REFRAME_9_16
      responses:
        '202':
          description: Event registration accepted for asynchronous processing. Poll /v2/status with the returned job_id to track progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: AI Studio Job ID. Use this to poll /v2/status.
                    example: 1015825c-7c90-4042-8513-24585fb9c235
                  status:
                    type: string
                    enum:
                      - Queued
                    example: Queued
        '400':
          description: Invalid or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '409':
          description: ext_asset_id already registered with a different uri.
  /v3/event/{ext_job_id}:
    put:
      summary: Update an existing event registration. Only schedule, metadata, priority, email, and ai_flags may be edited. The event identity (ext_job_id, media_assets) is immutable. email is mandatory on every update; at least one of schedule, metadata, priority, or ai_flags must also be supplied. Delivered to the clipping worker as a full-replacement task (action = update). Processing is asynchronous; the API returns HTTP 202 Accepted with a job_id that can be polled via /v2/status.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: ext_job_id
          required: true
          schema:
            type: string
          description: External job identifier previously supplied on POST /v3/event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              description: |
                Editable fields for an existing event. `email` is required on every update; at least one of `schedule`, `metadata`, `priority`, or `ai_flags` must also be supplied.

                Any field omitted from the request is left unchanged. `schedule`, when provided, fully replaces the existing schedule.
              anyOf:
                - required: [schedule]
                - required: [metadata]
                - required: [priority]
                - required: [ai_flags]
              properties:
                schedule:
                  $ref: '#/components/schemas/EventSchedule'
                metadata:
                  type: array
                  description: Replacement metadata mapping (full replacement of the stored entries), mapped by ext_asset_id.
                  items:
                    $ref: '#/components/schemas/MetadataEntry'
                priority:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  description: Processing priority. 0 is lowest priority, 1000 is highest priority.
                email:
                  type: string
                  format: email
                  description: Email address of the requesting user.
                ai_flags:
                  description: |
                    AI processing flags to apply to the event.

                    Any non-empty subset of the supported flags is accepted (values must be unique).
                  type: array
                  minItems: 1
                  maxItems: 5
                  uniqueItems: true
                  items:
                    type: string
                    enum:
                      - GENERATE_METADATA
                      - DETECT_SCENES
                      - REFRAME_9_16
                      - REFRAME_1_1
                      - REFRAME_3_4
            examples:
              update_schedule:
                summary: Replace the schedule with a new occurrence
                value:
                  email: producer@example.com
                  schedule:
                    ext_event_id: event-001-occurrence-rescheduled
                    start:
                      date_time: "2026-06-22T19:00:00Z"
                    end:
                      date_time: "2026-06-22T21:00:00Z"
                  metadata:
                    - ext_asset_id: live-event-001
                      language: en-US
                      title: Live Sports Event (Rescheduled)
                      category: news
              update_priority:
                summary: Adjust priority only
                value:
                  email: producer@example.com
                  priority: 800
              update_ai_flags:
                summary: Change the AI processing flags
                value:
                  email: producer@example.com
                  ai_flags:
                    - GENERATE_METADATA
                    - REFRAME_9_16
                    - REFRAME_1_1
      responses:
        '202':
          description: Event update accepted for asynchronous processing. Poll /v2/status with the returned job_id to track progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: AI Studio Job ID. Use this to poll /v2/status.
                    example: 1015825c-7c90-4042-8513-24585fb9c235
                  status:
                    type: string
                    enum:
                      - Queued
                    example: Queued
        '400':
          description: Invalid or Expired API Key, or no editable field supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: No event exists for the supplied ext_job_id.
  /v3/smart-crop:
    post:
      summary: Generate Video from a sequence of media assets and export to destination based on a predefined export template. Media assets in the sequence must be registered — either previously via /v3/upload, or inline in this request via the optional media_assets field. The request materializes as a video-editor project (project_id / ext_project_id); each inline media_assets entry not already registered spawns one linked vod capture job whose ext_job_id equals the asset's ext_asset_id (already-registered assets spawn no capture job — idempotent). Every request attribute is passed through verbatim into the capture task (data.job), including email and priority.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sequence
                - ext_job_id
                - email
              properties:
                ext_job_id:
                  type: string
                  description: External Job ID
                media_assets:
                  type: array
                  description: |
                    Optional inline asset registration. When present, the listed media assets are registered as part of this smart-crop call — equivalent to invoking /v3/upload first. Each item has the same shape as a `/v3/upload` `master.media_assets[]` entry. Omit this field when the assets referenced in `sequence[].ext_id` have already been registered via /v3/upload.
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/MediaAssetV3Item'
                sequence:
                  type: array
                  items:
                    type: object
                    required:
                      - ext_id
                    properties:
                      ext_id:
                        type: string
                        description: Identifier for the Media Asset in the external MAM / DAM system. This must be a master group ext_id (not a proxy) previously registered via /v3/upload or registered inline in this request.
                      start_timecode:
                        type: string
                        description: Start timecode for the clip
                      end_timecode:
                        type: string
                        description: End timecode for the clip
                project_metadata:
                  type: array
                  description: Localized descriptive metadata for the project (the rendered sequence output) — not tied to any individual asset. Same entry spec as metadata minus ext_asset_id, plus optional tags. Applied to the video-editor project.
                  items:
                    $ref: '#/components/schemas/ProjectMetadataEntry'
                metadata:
                  type: array
                  description: Localized descriptive metadata for inline assets, mapped to assets via ext_asset_id (shared MetadataEntry schema).
                  items:
                    $ref: '#/components/schemas/MetadataEntry'
                media_ai_flags:
                  type: array
                  description: Per-asset ingest-time AI flags, mapped via ext_asset_id. Distinct from the job-level ai_flags, which applies to the rendered sequence output.
                  items:
                    type: object
                    required:
                      - ext_asset_id
                      - ai_flags
                    properties:
                      ext_asset_id:
                        type: string
                        description: The inline media asset these flags apply to.
                      ai_flags:
                        type: array
                        minItems: 1
                        maxItems: 5
                        uniqueItems: true
                        items:
                          type: string
                          enum:
                            - GENERATE_METADATA
                            - DETECT_SCENES
                            - REFRAME_9_16
                            - REFRAME_1_1
                            - REFRAME_3_4
                ai_flags:
                  type: array
                  description: Job-level flags applied to the rendered sequence output (e.g. REFRAME_9_16). Distinct from media_ai_flags, which governs per-asset ingest processing.
                  minItems: 1
                  maxItems: 5
                  uniqueItems: true
                  items:
                    type: string
                    enum:
                      - GENERATE_METADATA
                      - DETECT_SCENES
                      - REFRAME_9_16
                      - REFRAME_1_1
                      - REFRAME_3_4
                export_template_name:
                  type: array
                  items:
                    type: string
                  description: Names of the export templates to apply
                priority:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  default: 0
                  description: Processing priority. 0 is lowest priority, 1000 is highest priority. Jobs are processed based on this priority and the request time (earlier requests win within the same priority).
                email:
                  type: string
                  format: email
                  description: Email address of the requesting user.
            examples:
              pre_registered:
                summary: Assets already registered via /v3/upload
                value:
                  ext_job_id: ext-job-001
                  sequence:
                    - ext_id: asset-group-001
                      start_timecode: "00:00:10:00"
                      end_timecode: "00:00:25:00"
                  project_metadata:
                    - language: en-US
                      title: Sports Show (Recorded)
                      tags: ["#ctv", "#primetime", "#news", "#sports"]
                  export_template_name:
                    - HD-1080p-Stereo
                  priority: 500
                  email: producer@example.com
              inline_registration:
                summary: Inline asset registration + smart-crop in a single call
                value:
                  ext_job_id: vod-capture-001
                  media_assets:
                    - ext_asset_id: master-video-005
                      uri: https://example.com/vod/005/master.m3u8
                      duration: 95.0
                      size: 5368709120
                    - ext_asset_id: master-video-006
                      uri: https://example.com/vod/006/master.m3u8
                      duration: 120.5
                      size: 7516192768
                  metadata:
                    - ext_asset_id: master-video-005
                      language: en-US
                      title: Sports Show (Recorded)
                      category: news
                      sub-category: none
                    - ext_asset_id: master-video-006
                      language: en-US
                      title: 7/11 Documentary
                      category: news
                      sub-category: documentary
                  media_ai_flags:
                    - ext_asset_id: master-video-005
                      ai_flags:
                        - DETECT_SCENES
                    - ext_asset_id: master-video-006
                      ai_flags:
                        - DETECT_SCENES
                        - GENERATE_METADATA
                  sequence:
                    - ext_id: master-video-005
                      start_timecode: "00:00:05:00"
                      end_timecode: "00:00:20:00"
                    - ext_id: master-video-006
                  project_metadata:
                    - language: en-US
                      title: Sports Show (Recorded)
                      tags: ["#ctv", "#primetime", "#news", "#sports"]
                  ai_flags:
                    - REFRAME_9_16
                  export_template_name:
                    - HD-1080p-Stereo
                  priority: 500
                  email: producer@example.com
      responses:
        '202':
          description: Job accepted. There is no top-level capture job_id — the request materializes as a video-editor project plus zero or more linked capture jobs (one per inline asset requiring ingestion). Each capture job's ext_job_id equals its asset's ext_asset_id. Poll /v2/status with the capture job_ids (or their ext_job_ids) to track ingestion progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  project_id:
                    type: string
                    description: Video-editor project ID materialized by this smart-crop request.
                    example: c4f0a9d2-8e17-4b6a-b3d5-92e61f7c0a44
                  ext_project_id:
                    type: string
                    description: Same value as the request's ext_job_id.
                    example: vod-capture-001
                  status:
                    type: string
                    enum:
                      - Queued
                    example: Queued
                  capture_jobs:
                    type: array
                    description: Linked vod capture jobs spawned for inline assets requiring ingestion. Empty when every referenced asset is already registered.
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                          description: AI Studio job ID of the capture job.
                          example: 7c2a91d4-55e0-4b8f-9a3c-d81f0e6b2a17
                        ext_job_id:
                          type: string
                          description: External job ID of the capture job — equals the asset's ext_asset_id.
                          example: master-video-006
        '400':
          description: Invalid or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '409':
          description: An inline ext_asset_id is already registered with a different uri.
        '401':
          description: Missing API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
  /v3/smart-crop/{ext_job_id}/publish:
    post:
      summary: Publish (render and export) the result of an existing smart-crop job using one or more export templates. The smart-crop job referenced by ext_job_id must have been created via /v3/smart-crop.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: ext_job_id
          in: path
          required: true
          description: External Job ID of the smart-crop job to publish. Must match the ext_job_id used when the job was created via /v3/smart-crop.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - export_template_name
              properties:
                export_template_name:
                  type: array
                  minItems: 1
                  items:
                    type: string
                  description: Names of the export templates to render and export. The video is rendered once per template.
                priority:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  default: 0
                  description: Processing priority. 0 is lowest priority, 1000 is highest priority. Jobs are processed based on this priority and the request time (earlier requests win within the same priority).
                email:
                  type: string
                  format: email
                  description: Email address of the requesting user.
            examples:
              publish_single_template:
                summary: Publish using a single export template
                value:
                  export_template_name:
                    - HD-1080p-Stereo
                  priority: 500
                  email: producer@example.com
              publish_multiple_templates:
                summary: Publish using multiple export templates
                value:
                  export_template_name:
                    - HD-1080p-Stereo
                    - Proxy-720p
                  priority: 0
                  email: producer@example.com
      responses:
        '202':
          description: Publish job accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Unique identifier for the publish job. Use this to poll /v2/status.
                    example: 1015825c-7c90-4042-8513-24585fb9c235
        '400':
          description: Invalid or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Missing API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Smart-crop job with the given ext_job_id was not found
  /v3/job/{ext_job_id}:
    delete:
      summary: Delete an existing job created via POST /v3/event. Removes the job and cancels all pending scheduled clipping jobs associated with the given ext_job_id. Any downstream artifacts already produced (e.g. published renders) are unaffected. VOD capture jobs (spawned by /v3/smart-crop) cannot be deleted — once spawned they run to completion; such an ext_job_id is rejected with 400. email is mandatory (identifies the requesting user for audit purposes).
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: ext_job_id
          required: true
          schema:
            type: string
          description: External job identifier previously supplied on POST /v3/event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the requesting user.
            examples:
              delete_event_job:
                summary: Delete a job created via /v3/event
                value:
                  email: producer@example.com
      responses:
        '204':
          description: Job deleted successfully. No response body.
        '400':
          description: Invalid or Expired API Key, or the ext_job_id resolves to a vod capture job (not deletable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: No job exists for the supplied ext_job_id.
  /v2/status:
    post:
      summary: Get the status of one or more jobs
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              oneOf:
                - required:
                    - job_id
                  properties:
                    job_id:
                      type: array
                      items:
                        type: string
                      description: List of AI Studio job IDs to retrieve status for
                  not:
                    required:
                      - ext_job_id
                - required:
                    - ext_job_id
                  properties:
                    ext_job_id:
                      type: array
                      items:
                        type: string
                      description: List of external job IDs to retrieve status for
                  not:
                    required:
                      - job_id
            examples:
              by_job_id:
                summary: Query by AI Studio job IDs
                value:
                  job_id:
                    - 1015825c-7c90-4042-8513-24585fb9c235
                    - 2a3b4c5d-1234-5678-abcd-ef0123456789
              by_ext_job_id:
                summary: Query by external job IDs
                value:
                  ext_job_id:
                    - ext-job-001
                    - ext-job-002
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobStatus'
              examples:
                queued:
                  summary: Job is queued
                  value:
                    - job_id: 1015825c-7c90-4042-8513-24585fb9c235
                      ext_job_id: ext-job-001
                      status: Queued
                      progress_percent: 0
                processing:
                  summary: Job is processing
                  value:
                    - job_id: 2a3b4c5d-1234-5678-abcd-ef0123456789
                      ext_job_id: ext-job-002
                      status: Processing
                      progress_percent: 45
                completed:
                  summary: Job completed successfully
                  value:
                    - job_id: 3c4d5e6f-2345-6789-bcde-f01234567890
                      ext_job_id: ext-job-003
                      status: Completed
                      progress_percent: 100
                      media_assets:
                        - uri: s3://bucket/output/file.mp4
                          asset_type: video
                        - uri: s3://bucket/output/file_proxy.mp4
                          asset_type: proxy
                failed:
                  summary: Job failed
                  value:
                    - job_id: 4d5e6f7a-3456-789a-cdef-012345678901
                      ext_job_id: ext-job-004
                      status: Failed
                      progress_percent: 30
                      error:
                        code: 400342
                        message: Invalid Video
        '400':
          description: Invalid or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Missing API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
  /moments/search:
    post:
      summary: Search across previously uploaded media for AI-curated moments matching one or more natural-language prompts. Returns clips ranked by relevance with start/end timestamps, confidence score, preview thumbnail, title, and hashtags.
      operationId: ExtSearch
      tags:
        - Moments Search
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >-
                `media_id` and `external_id` are both optional. When provided,
                supply only one of them — they are mutually exclusive and must
                not both be present in the same request.
              required:
                - prompts
              not:
                required:
                  - media_id
                  - external_id
              properties:
                prompts:
                  type: array
                  description: List of prompts for content curation.
                  items:
                    type: string
                    description: Prompt describing the desired content.
                    example: "Highlight moments from this video"
                external_id:
                  type: array
                  description: Restrict the search to these external identifiers (the `ext_id` values supplied at upload time).
                  items:
                    type: string
                    description: External identifier for the media.
                    example: "ext-id"
                media_id:
                  type: array
                  description: Restrict the search to these internal media identifiers (UUIDs returned by /v3/upload).
                  items:
                    type: string
                    format: uuid
                    description: Unique identifier for the media.
                    example: "95a749ec-1394-eac3-13a5-9ed0ea65e095"
            examples:
              by_external_id:
                summary: Scope the search by external ID
                value:
                  prompts:
                    - "Highlight moments from this video"
                  external_id:
                    - "26714368-a156-4d7a-b667-45ac6c08e79a"
              all_media:
                summary: Search across all media accessible to the API key
                value:
                  prompts:
                    - "Verstappen winning the Japanese GP"
      responses:
        '200':
          description: List of matching moments — media ID, confidence score, start/end times, rank, and metadata.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - start
                    - end
                    - media_id
                    - confidence_score
                    - rank
                  properties:
                    start:
                      type: integer
                      description: Start time of the clip, in seconds, within the source media.
                      example: 387
                    end:
                      type: integer
                      description: End time of the clip, in seconds.
                      example: 457
                    media_id:
                      type: string
                      format: uuid
                      description: Internal identifier of the source media asset.
                      example: "db708bc2-ae70-453e-9839-bc07e84ce160"
                    media_external_id:
                      type: string
                      description: External identifier supplied at upload time.
                      example: "db708bc2-ae70-453e-9839-bc07e84ce160"
                    confidence_score:
                      type: number
                      description: Similarity score against the prompt (0.0 – 1.0).
                      example: 0.5826060175895691
                    rank:
                      type: integer
                      description: Relevance ranking; 1 is the strongest match.
                      example: 1
                    preview_uri:
                      type: string
                      description: URL of a thumbnail / preview frame for this moment.
                      example: "https://sandbox2.dev.quickplay.com/media-preview/a56443be-372d-426c-9b8a-e4713d55a2c6/32505da7-af43-4bf7-81e8-ead65785513a/videos/db708bc2-ae70-453e-9839-bc07e84ce160/db708bc2-ae70-453e-9839-bc07e84ce160-0000000064.jpeg"
                    relevance_reason:
                      type: string
                      description: Plain-language explanation of why the moment matched.
                      example: "This entry directly matches the query by describing Max Verstappen's dominant victory at the Japanese Grand Prix, mentioning his win, the location (Suzuka), and the key players (Verstappen, Norris, Piastri). The title, summary, keywords, and description all strongly align with the query."
                    title:
                      type: string
                      description: Generated title for the moment.
                      example: "Max Verstappen's Dominant Japanese GP Victory"
                    hashtags:
                      type: string
                      description: Comma-separated tags attached to the moment.
                      example: "#F1,#JapaneseGP,#MaxVerstappen,#RedBullRacing,#Winner,#Suzuka"
              examples:
                three_moments:
                  summary: Three ranked moments from a Japanese GP broadcast
                  value:
                    - start: 387
                      end: 457
                      media_id: "db708bc2-ae70-453e-9839-bc07e84ce160"
                      media_external_id: "db708bc2-ae70-453e-9839-bc07e84ce160"
                      confidence_score: 0.5826060175895691
                      rank: 1
                      preview_uri: "https://sandbox2.dev.quickplay.com/media-preview/a56443be-372d-426c-9b8a-e4713d55a2c6/32505da7-af43-4bf7-81e8-ead65785513a/videos/db708bc2-ae70-453e-9839-bc07e84ce160/db708bc2-ae70-453e-9839-bc07e84ce160-0000000064.jpeg"
                      title: "Max Verstappen's Dominant Japanese GP Victory"
                      hashtags: "#F1,#JapaneseGP,#MaxVerstappen,#RedBullRacing,#Winner,#Suzuka"
                      relevance_reason: "This entry directly matches the query by describing Max Verstappen's dominant victory at the Japanese Grand Prix, mentioning his win, the location (Suzuka), and the key players (Verstappen, Norris, Piastri). The title, summary, keywords, and description all strongly align with the query."
                    - start: 458
                      end: 482
                      media_id: "db708bc2-ae70-453e-9839-bc07e84ce160"
                      media_external_id: "db708bc2-ae70-453e-9839-bc07e84ce160"
                      confidence_score: 0.5418363809585571
                      rank: 3
                      preview_uri: "https://sandbox2.dev.quickplay.com/media-preview/a56443be-372d-426c-9b8a-e4713d55a2c6/32505da7-af43-4bf7-81e8-ead65785513a/videos/db708bc2-ae70-453e-9839-bc07e84ce160/db708bc2-ae70-453e-9839-bc07e84ce160-0000000076.jpeg"
                      title: "Verstappen's Japanese GP Victory Celebration"
                      hashtags: "#F1,#JapaneseGP,#Verstappen,#RedBullRacing,#Podium"
                      relevance_reason: "This entry is relevant because it details Max Verstappen's victory celebration at the Japanese Grand Prix, including podium details and the final race classification. While it focuses more on the celebration, it still directly relates to Verstappen's win at the specified event."
                    - start: 11
                      end: 62
                      media_id: "db708bc2-ae70-453e-9839-bc07e84ce160"
                      media_external_id: "db708bc2-ae70-453e-9839-bc07e84ce160"
                      confidence_score: 0.5648645162582397
                      rank: 4
                      preview_uri: "https://sandbox2.dev.quickplay.com/media-preview/a56443be-372d-426c-9b8a-e4713d55a2c6/32505da7-af43-4bf7-81e8-ead65785513a/videos/db708bc2-ae70-453e-9839-bc07e84ce160/db708bc2-ae70-453e-9839-bc07e84ce160-0000000001.jpeg"
                      title: "Japanese Grand Prix: Frantic Race Start"
                      hashtags: "#F1,#JapaneseGP,#Suzuka,#Formula1,#Motorsport,#Racing"
                      relevance_reason: "This entry is partially relevant as it describes the start of the Japanese Grand Prix at Suzuka, mentioning Max Verstappen defending his lead. However, it focuses on the initial moments of the race rather than the overall dominant victory."
        '400':
          description: Invalid or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Missing API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Permission Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
components:
  schemas:
    MediaAssetV3Group:
      type: object
      required:
        - ext_id
        - media_assets
      properties:
        ext_id:
          type: string
          description: Identifier for this asset group in the external MAM / DAM system.
        media_assets:
          type: array
          minItems: 1
          description: One or more media assets that make up this group.
          items:
            $ref: '#/components/schemas/MediaAssetV3Item'
    ProxyMediaAssetV3Group:
      type: object
      required:
        - ext_id
        - media_assets
      properties:
        ext_id:
          type: string
          description: Identifier for this proxy asset group in the external MAM / DAM system.
        media_assets:
          type: array
          minItems: 1
          description: One or more proxy media assets that make up this group.
          items:
            $ref: '#/components/schemas/ProxyMediaAssetV3Item'
    MetadataEntry:
      type: object
      required:
        - ext_asset_id
        - language
      properties:
        ext_asset_id:
          type: string
          description: The media asset this entry describes (maps the entry to a media_assets item).
        language:
          type: string
          description: Language code.
          example: en-US
        title:
          type: string
          description: Asset title.
        description:
          type: string
          description: Asset description.
        category:
          type: string
          description: Content category.
          example: news
        sub-category:
          type: string
          description: Content sub-category.
          example: documentary
        tags:
          type: array
          items:
            type: string
          description: Tags for the asset.
          example: ["#live", "#sports"]
    ProjectMetadataEntry:
      type: object
      required:
        - language
      description: Same spec as MetadataEntry, project-scoped — no ext_asset_id; adds tags.
      properties:
        language:
          type: string
          description: Language code.
          example: en-US
        title:
          type: string
          description: Project title.
        description:
          type: string
          description: Project description.
        category:
          type: string
          description: Content category.
          example: news
        sub-category:
          type: string
          description: Content sub-category.
        tags:
          type: array
          items:
            type: string
          description: Tags for the rendered output.
          example: ["#ctv", "#primetime", "#news", "#sports"]
    EventMediaAsset:
      type: object
      required:
        - ext_asset_id
        - uri
      properties:
        ext_asset_id:
          type: string
          description: Identifier for the event media asset. Unique per asset in the external system — re-registering the same ext_asset_id with a different uri is rejected with 409 Conflict.
        uri:
          type: string
          description: |
            Source URL for the live or scheduled event stream. Accepted schemes depend on the request's `output_format`:

            - `output_format: VOD` — HLS only (`https://…/master.m3u8`).
            - `output_format: Live` — HLS TS (`https://…/master.m3u8`, MPEG-TS segments) or SRT (`srt://…`).
          example: https://example.com/live/event-001/master.m3u8
    EventDateTime:
      type: object
      required:
        - date_time
      properties:
        date_time:
          type: string
          format: date-time
          description: RFC 3339 date-time string with UTC `Z` suffix or an explicit offset (e.g. `2026-06-15T19:00:00Z` or `2026-06-15T15:00:00-04:00`).
    EventSchedule:
      type: object
      required:
        - ext_event_id
        - start
        - end
      additionalProperties: false
      properties:
        ext_event_id:
          type: string
          description: External identifier for this scheduled occurrence.
        start:
          $ref: '#/components/schemas/EventDateTime'
        end:
          $ref: '#/components/schemas/EventDateTime'
        metadata:
          type: array
          deprecated: true
          description: DEPRECATED (v6.3.4) — use the request-level `metadata` field (MetadataEntry[], mapped by ext_asset_id) instead. Accepted for one deprecation window only.
          items:
            type: object
            properties:
              language:
                type: string
                example: en_CA
              title:
                type: string
              description:
                type: string
    MediaAssetV3Item:
      type: object
      required:
        - ext_asset_id
        - uri
      properties:
        ext_asset_id:
          type: string
          description: Identifier for the Media Asset within this upload group.
        uri:
          type: string
          description: "Location of the Media Asset. Supported schemes include: https, s3, gcs"
        duration:
          type: number
          description: Duration of the Media Asset in seconds.
        size:
          type: integer
          description: Size of the Media Asset in bytes.
        media_profile:
          type: array
          description: Media asset profile defining the structure of the media file.
          items:
            $ref: '#/components/schemas/MediaProfileTrack'
    ProxyMediaAssetV3Item:
      type: object
      required:
        - ext_asset_id
        - uri
      properties:
        ext_asset_id:
          type: string
          description: Identifier for the Proxy Media Asset within this upload group.
        uri:
          type: string
          description: "Location of the Proxy Media Asset. Supported schemes include: https, s3, gcs"
        duration:
          type: number
          description: Duration of the Proxy Media Asset in seconds.
        size:
          type: integer
          description: Size of the Proxy Media Asset in bytes.
        media_profile:
          type: array
          description: Proxy media asset profile defining the structure of the media file.
          items:
            $ref: '#/components/schemas/ProxyMediaProfileTrack'
    MediaProfileTrack:
      oneOf:
        - $ref: '#/components/schemas/VideoTrack'
        - $ref: '#/components/schemas/AudioTrack'
        - $ref: '#/components/schemas/CCTrack'
      discriminator:
        propertyName: group_type
        mapping:
          video: '#/components/schemas/VideoTrack'
          audio: '#/components/schemas/AudioTrack'
          cc: '#/components/schemas/CCTrack'
    ProxyMediaProfileTrack:
      oneOf:
        - $ref: '#/components/schemas/ProxyVideoTrack'
        - $ref: '#/components/schemas/AudioTrack'
        - $ref: '#/components/schemas/CCTrack'
      discriminator:
        propertyName: group_type
        mapping:
          video: '#/components/schemas/ProxyVideoTrack'
          audio: '#/components/schemas/AudioTrack'
          cc: '#/components/schemas/CCTrack'
    VideoTrack:
      type: object
      required:
        - group_type
      properties:
        group_type:
          type: string
          enum:
            - video
        track_info:
          type: object
          properties:
            track_id:
              type: string
              description: Opaque caller-supplied track identifier (e.g. an asset ID from an upstream MAM system).
            codec:
              type: string
              enum:
                - mpeg-2-video
                - dnxhd-sq
                - avc-intra
                - prores422-hq
                - jpeg2000
                - prores422
                - dnxhr-sq
                - xavc-i
                - dnxhr-hq
                - prores4444
                - prores422-lt
                - dnxhd-hq
                - dnxhd
                - dnxhd-hqx
                - dnxhr-444
                - dnxhr-hqx
                - dnxhd-lb
                - dnxhd-tr
            bitRate:
              type: integer
              description: Bit rate in bits per second
            frameRate:
              type: object
              description: Frame rate as a rational number
              properties:
                numerator:
                  type: integer
                denominator:
                  type: integer
            frameSize:
              type: object
              description: Frame dimensions
              properties:
                width:
                  type: integer
                height:
                  type: integer
            offset_sec:
              type: number
              description: Offset of the track relative to the primary timeline, in seconds.
    ProxyVideoTrack:
      type: object
      required:
        - group_type
      properties:
        group_type:
          type: string
          enum:
            - video
        track_info:
          type: object
          properties:
            track_id:
              type: string
              description: Opaque caller-supplied track identifier (e.g. an asset ID from an upstream MAM system).
            codec:
              type: string
              enum:
                - avc
            bitRate:
              type: integer
              description: Bit rate in bits per second
            frameRate:
              type: object
              description: Frame rate as a rational number
              properties:
                numerator:
                  type: integer
                denominator:
                  type: integer
            frameSize:
              type: object
              description: Frame dimensions
              properties:
                width:
                  type: integer
                height:
                  type: integer
            offset_sec:
              type: number
              description: Offset of the track relative to the primary timeline, in seconds.
    AudioTrack:
      type: object
      required:
        - group_type
      properties:
        group_type:
          type: string
          enum:
            - audio
        audio_kind:
          type: string
          enum:
            - PRM
            - SAP
            - HI
            - DV
            - DX
            - MX
            - FX
            - FFX
            - ME
            - OP
            - MESP
            - DME
            - NDME
            - PNAR
            - ONAR
            - VO
            - VI
            - CM
            - LCM
            - MOS
        audio_group:
          type: string
          enum:
            - ST
            - DM
            - LtRt
            - DNS
            - "3.0"
            - "4.0"
            - "5.0"
            - "5.1"
            - "5.1EX"
            - "6.0"
            - "6.1"
            - "7.0DS"
            - "7.1DS"
            - "7.1SDS"
            - "HA"
            - "VA"
        language:
          type: string
          description: Language code (e.g. en-US)
          example: en-US
        track_info:
          type: object
          properties:
            track_id:
              type: string
              description: Opaque caller-supplied track identifier (e.g. an asset ID from an upstream MAM system).
            codec:
              type: string
              enum:
                - aac
                - pcm
            bitRate:
              type: integer
              description: Bit rate in bits per second
            sampleRate:
              type: integer
              description: Sample rate in Hz
            offset_sec:
              type: number
              description: Offset of the track relative to the primary timeline, in seconds. Used to align sidecar audio files.
        channel_layouts:
          type: array
          items:
            type: object
            required:
              - channel_locator
            properties:
              channel_locator:
                type: string
                description: Locator identifying the channel within the asset
              audio_channel:
                type: string
                enum:
                  - L
                  - R
                  - C
                  - LFE
                  - Ls
                  - Rs
                  - Lss
                  - Rss
                  - Lrs
                  - Rrs
                  - Lc
                  - Rc
                  - Cs
                  - HI
                  - VIN
                  - Lt
                  - Rt
                  - Lst
                  - Rst
                  - S
                  - M1
                  - M2
    CCTrack:
      type: object
      required:
        - group_type
      properties:
        group_type:
          type: string
          enum:
            - cc
        track_id:
          type: string
          description: Opaque caller-supplied track identifier (e.g. an asset ID from an upstream MAM system).
        format:
          type: string
          enum:
            - CEA-608
            - EIA-608
            - CEA-708
            - EIA-708
            - SRT
            - TTML
            - WebVTT
            - PAC
            - SCC
            - IMSC
        language:
          type: string
          description: Language code (e.g. en-US)
          example: en-US
        offset_sec:
          type: number
          description: Offset of the caption track relative to the primary timeline, in seconds. Used to align sidecar caption files.
    UploadResponse:
      type: object
      properties:
        job_id:
          type: string
          description: AI Studio Job Identifier for the Upload operation. This can be used to query the status of the upload processing via the /status endpoint.
        ext_id:
          type: string
          description: Identifier for the Media Asset in the external MAM / DAM system
        uri:
          type: string
          description: Location of the uploaded Media Asset
        media_id:
          type: string
          description: Internal identifier assigned to the Media Asset
        duration:
          type: integer
          description: Duration of the Media Asset in milliseconds
        mimeType:
          type: string
          description: MIME type of the Media Asset
        status:
          type: string
          description: Processing status of the Media Asset
    JobStatus:
      type: object
      description: Status of the requested job
      properties:
        job_id:
          type: string
          description: AI Studio Job ID
        ext_job_id:
          type: string
          description: External Job ID
        status:
          type: string
          description: Current status of the job
          enum:
            - Queued
            - Processing
            - Completed
            - Failed
        progress_percent:
          type: integer
          description: Job completion percentage
          minimum: 0
          maximum: 100
      oneOf:
        - description: Completed job — includes output asset details
          required:
            - status
          properties:
            status:
              type: string
              enum:
                - Completed
            media_assets:
              type: array
              description: Output assets produced by the completed job
              items:
                type: object
                properties:
                  uri:
                    type: string
                    description: Location of the output asset
                  asset_type:
                    type: string
                    description: Type of the output asset
        - description: In-progress job
          properties:
            status:
              type: string
              enum:
                - Queued
                - Processing
        - description: Failed job — includes error details
          required:
            - status
          properties:
            status:
              type: string
              enum:
                - Failed
            error:
              type: object
              properties:
                code:
                  type: integer
                  description: Error code
                message:
                  type: string
                  description: Error message
    ForbiddenResponse:
      type: object
      properties:
        message:
          type: string
          example: "PERMISSION_DENIED: The API targeted by this request is invalid for the given API key."
        code:
          type: integer
          example: 403
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
          example: "UNAUTHENTICATED: Method doesn't allow unregistered callers"
        code:
          type: integer
          example: 401
    BadRequestResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              example: 400
            message:
              type: string
              example: API key not valid. Please pass a valid API key.
            status:
              type: string
              example: INVALID_ARGUMENT
            details:
              type: array
              items:
                type: object
                properties:
                  "@type":
                    type: string
                    example: type.googleapis.com/google.rpc.ErrorInfo
                  reason:
                    type: string
                    example: API_KEY_INVALID
                  domain:
                    type: string
                    example: googleapis.com
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
